.mainContainer{
    border: 1px solid black;
    height: 280px;
    width: 200px;
    margin-top: 150px;
    margin-left: 600px;
    padding: 30px;
    box-shadow: 0px 0px 50px gray;
}
.input{
    margin: 10px;
}
button{
    margin-left: 35%;
    margin-top: 9px;
}
h3{
    text-align: center;

}