.firstContainer{
    border: 1px solid rgb(191, 184, 184);
    height: 450px;
    width: 400px;
    margin-top: 60px;
    margin-left: 100px;
    padding: 40px;
    box-shadow: 0px 0px 25px gray;
    text-align: center;
    
}

.input1{
    width: 70px;
    padding: 10px;
}

.input2{
    width: 70px;
    padding: 10px;
}


.input3{
    width: 70px;
    padding: 10px;
}



.lbl1{
    margin-right: 130px;
    font-size: 20px;
}


.lbl2{
    margin-left: -150px;
    font-size: 20px;

}


.lbl3{
    margin-left: -150px;
    font-size: 20px;

}


h2{
    margin-top: 30px;
}
.btnn{
    margin-top: 20px;
}
.range1{
    width: 400px;
}

.range2{
    width: 400px;

}

.range3{
    width: 400px;
    
}

.secondContainer{
    border: 1px solid rgb(191, 184, 184);
    height: 450px;
    width: 400px;
    margin-left: 800px;
    padding: 40px;
    box-shadow: 0px 0px 25px gray;
    margin-top: -530px;
   

    b{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
}


.tablle{
    margin-top: 100px;
    
}
    
